@import "tailwindcss";

main{
    background-color: #151517;
}

header{
    background-color: #1b1b1c;
}

nav{
    background-color: #1b1b1c;
}

body{
    color: #fff;
}

html.dark {
  color-scheme: dark;
}